services:
  homepage:
    build: .
    container_name: homepage
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
      - NODE_ENV=production
      - AUTH_SERVICE_URL=https://auth.cns-studios.com
